@import url('https://fonts.googleapis.com/css2?family=Expletus+Sans:ital,wght@0,400..700;1,400..700&display=swap');
canvas{
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
}
.expletus-sans-title {
    font-family: "Expletus Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: Regular;
    letter-spacing: 5px;
    color: rgb(24, 20, 20);
    opacity: 0.9;
    max-width:50rem;
    text-shadow: 2px 2px rgb(194, 158, 238);
}
canvas {
    display: block;
    margin: 0 auto; 
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
}
nav {
    padding: 1rem 2rem;
    border-radius: 8px;
    position: absolute; 
    top:1rem; 
    right: 1rem; 
    display: flex;
    flex-direction: column;
    align-items: flex-end; 
    gap: 0.5rem; 
    z-index: 10;
}

nav a {
    font-family: "Expletus Sans", sans-serif;
    text-decoration: none;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 6px rgba(118, 78, 93, 0.1);
    color: #453981;
    transition: color 0.3s ease, text-shadow 0.3s ease;
    background-color: rgba(182, 172, 213, 0.5); 
    border-radius: 5px; 
    padding: 0.5rem 1rem; 
    font-size: 1.2rem; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
}

nav a:hover, nav a:focus {
    color: rgb(155, 95, 156);
    text-shadow: 0 0 10px rgba(255, 186, 211, 0.6);
}