@import url('https://fonts.googleapis.com/css2?family=Expletus+Sans:ital,wght@0,400..700;1,400..700&display=swap');
canvas{
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
}
.expletus-sans-title {
    font-family: "Expletus Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: Regular;
    letter-spacing: 5px;
    color: rgb(24, 20, 20);
    opacity: 0.9;
    max-width:50rem;
    text-shadow: 2px 2px rgb(194, 158, 238);
}