@import url('https://fonts.googleapis.com/css2?family=Expletus+Sans:ital,wght@0,400..700;1,400..700&display=swap');

canvas {
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
}

body {
    margin: 0;
    font-family: 'Special Elite', cursive;
}

nav {
    position: absolute;
    top: 1rem;
    left: 2rem;
    z-index: 10;
}

.nav-button {
    background-color: rgba(182, 172, 213, 0.5);
    color: #fff598;
    border: none;
    border-radius: 5px;
    padding: 1rem 1.5rem;
    font-size: 1.5rem;
    font-family: 'Special Elite', cursive;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: color 0.3s ease, text-shadow 0.3s ease;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}

.nav-button:hover {
    color: rgb(241, 179, 242);
    text-shadow: 0 0 10px rgba(255, 186, 211, 0.6);
}

.button-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
